sample_flow/flows.json
[
    {
        "id": "73a2b39acb1bf806",
        "type": "http in",
        "z": "2064015fc8b3b4a5",
        "name": "Heron Alert!",
        "url": "/heron",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "9bcb9a46b6716c5a",
                "3e4c444f6ae92ddd",
                "e564bac522e1e53a",
                "40bd33cc24575dc5",
                "f79aceb8f1f51137",
                "1b505ff92186273c"
            ]
        ]
    },
    {
        "id": "efbc568e8fb18afd",
        "type": "http response",
        "z": "2064015fc8b3b4a5",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 220,
        "y": 740,
        "wires": []
    },
    {
        "id": "3e4c444f6ae92ddd",
        "type": "function",
        "z": "2064015fc8b3b4a5",
        "name": "function 1",
        "func": "msg.payload = {\n    \"status\": 200\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 680,
        "wires": [
            [
                "efbc568e8fb18afd"
            ]
        ]
    },
    {
        "id": "e564bac522e1e53a",
        "type": "image",
        "z": "2064015fc8b3b4a5",
        "name": "",
        "width": "800",
        "data": "payload.image",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 480,
        "y": 920,
        "wires": []
    },
    {
        "id": "e425bd5f3489b08b",
        "type": "jimp-image",
        "z": "2064015fc8b3b4a5",
        "name": "",
        "data": "payload.image",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "256",
        "parameter1Type": "num",
        "parameter2": "-1",
        "parameter2Type": "num",
        "parameter3": "",
        "parameter3Type": "none",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload.image",
        "sendPropertyType": "msg",
        "parameterCount": 3,
        "jimpFunction": "resize",
        "selectedJimpFunction": {
            "name": "resize",
            "fn": "resize",
            "description": "resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 810,
        "y": 640,
        "wires": [
            [
                "8616cf29c7b0ff22"
            ]
        ]
    },
    {
        "id": "8616cf29c7b0ff22",
        "type": "function",
        "z": "2064015fc8b3b4a5",
        "name": "Format Notification",
        "func": "msg.title = '!! HERON IN GARDEN !!';\nmsg.payload = msg.payload.image;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 640,
        "wires": [
            [
                "30117e8fe0e3f9e7"
            ]
        ]
    },
    {
        "id": "30117e8fe0e3f9e7",
        "type": "http request",
        "z": "2064015fc8b3b4a5",
        "name": "Send Notification",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "https://ntfy.sh/heron_alert",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Title",
                "valueType": "msg",
                "valueValue": "title"
            },
            {
                "keyType": "other",
                "keyValue": "Filename",
                "valueType": "other",
                "valueValue": "heron.jpg"
            }
        ],
        "x": 1250,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "67d78737158ae16e",
        "type": "file",
        "z": "2064015fc8b3b4a5",
        "name": "write jpg",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1220,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "d6fd29ff042beb3f",
        "type": "file",
        "z": "2064015fc8b3b4a5",
        "name": "Heron Log",
        "filename": "/home/pixelscript/heron_log.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 830,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "40bd33cc24575dc5",
        "type": "function",
        "z": "2064015fc8b3b4a5",
        "name": "Format Message",
        "func": "msg.payload = new Date().toISOString() + ' - Heron Detected!';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 540,
        "wires": [
            [
                "d6fd29ff042beb3f"
            ]
        ]
    },
    {
        "id": "f79aceb8f1f51137",
        "type": "delay",
        "z": "2064015fc8b3b4a5",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 680,
        "wires": [
            [
                "e425bd5f3489b08b",
                "2a3f0f33e3918f74"
            ]
        ]
    },
    {
        "id": "3a7ee674195dc152",
        "type": "function",
        "z": "2064015fc8b3b4a5",
        "name": "Format Notification",
        "func": "msg.filename = '/home/pixelscript/heron-pics/' + String(Date.now())+'_heron.jpg';\nmsg.payload = msg.payload.image;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 720,
        "wires": [
            [
                "67d78737158ae16e"
            ]
        ]
    },
    {
        "id": "2a3f0f33e3918f74",
        "type": "jimp-image",
        "z": "2064015fc8b3b4a5",
        "name": "",
        "data": "payload.image",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "400",
        "parameter1Type": "num",
        "parameter2": "-1",
        "parameter2Type": "num",
        "parameter3": "",
        "parameter3Type": "none",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload.image",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 810,
        "y": 720,
        "wires": [
            [
                "3a7ee674195dc152"
            ]
        ]
    }
]